.node {
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.node-content {
    position: absolute;
    left: 15px;
    top: 15px;
    width: 66px;
    height: 66px;
    background: white;
    border: 2px dotted black;
    border-radius: 20px;
}

.icon .draggable .node-content {
	opacity: .5;
}

#twitter .node-content{
	content: url("../img/Twitter_logo_blue.png");
	border: none;
	border-radius: 0;
	width: 70px;
	height: 70px;
}

#decision .node-content {
	border: 2px solid black;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 20px;
	background: grey;
}

#end .node-content {
	border: 2px solid black;
	border-radius: 32px;
	background: orange;
}